In [1]:
%matplotlib inline

### NumPy 

Во всех заданиях данного раздела запрещено использовать циклы. Под матрицей в данных заданиях понимается двумерный numpy.array.

In [1]:
import numpy as np

**1.** Реализуйте функцию, принимающую на вход матрицу X и два массива i и j одинаковой длины и возвращающую вектор np.array, состоящий из последовательности элементов [X[i[0], j[0]], X[i[1], j[1]], ..., X[i[N-1], j[N-1]]].

In [43]:
def construct_array(X, i, j):
    return np.array(X[i, j])

In [44]:
X = np.asarray([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
i = np.asarray([0, 1, 2])
j = np.asarray([0, 1, 2])
construct_array(X, i, j)

array([1, 5, 9])

**2.** Написать функцию для подсчёта произведения ненулевых элементов на диагонали прямоугольной матрицы.
Например, для X = np.array([[1, 0, 1], [2, 0, 2], [3, 0, 3], [4, 4, 4]]) ответом является 3. Если ненулевых элементов нет, функция должна возвращать None.

In [42]:
def nonzero_product(X):
    Y = X.diagonal()
    Y = Y[Y.nonzero()]
    if Y.size > 0:
        return Y.prod()
    else: 
        return None

In [43]:
X = np.array([[1, 0, 1], [2, 0, 2], [3, 0, 3], [4, 4, 4]])
nonzero_product(X)

3

In [44]:
X = np.array([[0, 1, 1], [2, 0, 2], [3, 1, 0], [4, 4, 4]])
print(nonzero_product(X))

None

**3.** Написать функцию, возвращающую максимальный элемент в векторе x среди элементов, перед которыми стоит нулевой. Для x = np.array([6, 2, 0, 3, 0, 0, 5, 7, 0]) ответом является 5. Если таких элементов нет, функция должна возвращать None.

In [35]:
def max_element(arr):
    x = arr == 0
    after_zero_elements = arr[1:][x[:-1]]
    if after_zero_elements.size > 0:
        return after_zero_elements.max()
    else:
        return None

In [36]:
x = np.array([6, 2, 0, 3, 0, 0, 5, 7, 0])
max_element(x)

5

In [40]:
x = np.array([6, 2, 1, 3, 1, 1, 5, 7, 1])
print(max_element(x))

None

**4.** Реализуйте функцию, принимающую на вход матрицу и некоторое число и возвращающую ближайший к числу элемент матрицы. Например: для X = np.arange(0,10).reshape((2, 5)) и v = 3.6 ответом будет 4.

In [86]:
def nearest_value(X, v):
    Y = np.abs(X-v)
    index = np.argmin(Y, axis=0)
    index = np.unravel_index(np.argmin(Y, axis=None), Y.shape)
    return X[index]

In [88]:
X = np.arange(0,10).reshape((2, 5))
v = 4.6
nearest_value(X, v)

5

In [90]:
A = np.arange(6).reshape(2,3) + 10
v = 13.51
nearest_value(A, v)

14

**5.** Написать функцию, которая получает на вход матрицу и масштабирует каждый её столбец, а именно вычитает из столбца его среднее значение и делит столбец на стандартное отклонение. Для тестирования можно сгенерировать с помощью метода numpy.random.randint случайную матрицу и проверить на ней работу метода.  Убедитесь, что в функции не будет происходить деления на ноль.

In [13]:
def scale(X):
    pass

In [14]:
X = np.random.randint(0, 10, (3, 5))
scale(X)

array([[ 0.70710678,  1.22474487, -0.70710678, -0.53916387, -1.37281295],
       [-1.41421356,  0.        ,  1.41421356,  1.40182605,  0.98058068],
       [ 0.70710678, -1.22474487, -0.70710678, -0.86266219,  0.39223227]])

**6.** Реализуйте функцию, которая для заданной матрицы находит:
 - определитель
 - след
 - наименьший и наибольший элементы
 - норму Фробениуса
 - собственные числа
 - обратную матрицу

Для тестирования сгенерируйте матрицу с элементами из нормального распределения $N$(10,1)

In [15]:
def get_stats(X):
    pass

In [16]:
X = ...
get_stats(X)

{'определитель': 11.229255800082077,
 'след': 31.861082036331997,
 'наименьший и наибольший элементы': (9.409682760900868, 11.179471067836925),
 'норма Фробениуса': 30.482879623796595,
 'собственные числа': array([30.44908215,  0.34593338,  1.06606651]),
 'обратная матрица': array([[ 2.01476982, -1.09661606, -0.87835649],
        [-0.48868976,  0.7330548 , -0.23559114],
        [-1.42132894,  0.35770376,  1.11377488]])}

### Pandas

Загрузите данные о пассажирах Титаника из файла *titanic.csv* и ответьте на следующие вопросы:

In [1]:
import pandas as pd

**1.** Опишите данный датасет: какое расределение женщин/мужчин в нем? Сколько пассажиров ехало каким классом? Какой средний/минимальный/максимальный возраст пассажиров? Что можно сказать о количестве выживших пассажиров?

In [10]:
df = pd.read_csv('src_titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
#Расределение женщин/мужчин
df.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [12]:
#Сколько пассажиров ехало каким классом? 
df.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [13]:
#Какой средний/минимальный/максимальный возраст пассажиров?
df.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [26]:
#Что можно сказать о количестве выживших пассажиров?
print('Выжило :', df.Survived[df['Survived'] == 1].count())

Выжило : 342

**2.** Верно ли, что женщины выживали чаще мужчин? Какие пассажиры выживали чаще: с более дешевыми или дорогими билетами? Верно ли, что чаще выживали более молодые пассажиры?

In [29]:
# Верно ли, что женщины выживали чаще мужчин
SurvMale = df[(df['Sex'] == 'male')].Survived[df['Survived'] == 1].count()
SurvFemale = df[(df['Sex'] == 'female')].Survived[df['Survived'] == 1].count()
print('Survived for Male:\n', SurvMale)
print('Survived for Female:\n', SurvFemale)

Survived for Male:
 109
Survived for Female:
 233

In [33]:
#Какие пассажиры выживали чаще: с более дешевыми или дорогими билетами?
Class1 = df[(df['Pclass'] == 1)].Survived.mean()
Class2 = df[(df['Pclass'] == 2)].Survived.mean()
Class3 = df[(df['Pclass'] == 3)].Survived.mean()
print('Survived for First Class:\n', Class1)
print('Survived for Second Class:\n', Class2)
print('Survived for Third Class:\n', Class3)

Survived for First Class:
 0.6296296296296297
Survived for Second Class:
 0.47282608695652173
Survived for Third Class:
 0.24236252545824846

In [37]:
#Верно ли, что чаще выживали более молодые пассажиры?
mean_age = df[(df['Survived'] == 1)].Age.mean()
print('Средний возраст выживших', mean_age)

young = df[(df.Age < 25)].Survived.value_counts()
old = df[(df.Age > 55)].Survived.value_counts()
x = young[1] / young.sum()
y = old[1] / old.sum()
print('Доля выживших моложе 25: ', x)
print('Доля выживших старше 55: ', y)

Средний возраст выживших 28.343689655172415
Доля выживших моложе 25:  0.4244604316546763
Доля выживших старше 55:  0.3

**3.** Найдите все признаки, для которых есть пропуски в данных. Обычно алгоритмы по умолчанию не умеют обрабатывать такие данные. Предложите способы обработки данных с пропусками (не менее двух) и укажите их достоинства/недостаки каждого. Проиллюстрируйте их на примере данного датасета.

In [43]:
#Краткая статистика по набору данных, количество столбцов и строк в каждом
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [39]:
#Много пропущенных значений в колонках Age и Cabin
pd.isnull(df).sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [41]:
#Пропуски можно заполнить нулями, однако в таком случае церяется целостность и правильность исходных данных
#Функции расчитывающие статистику по числовым признакам выдают неверные значения
df2 = df.fillna(0)
pd.isnull(df2).sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [42]:
#Пропущенные значения можно удалить (целыми строками)
#Однако в данном случае мы теряем огромную часть датасета
df3 = df.dropna()
pd.isnull(df3).sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [44]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB